.App {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icon {
  @apply text-4xl cursor-pointer transition duration-100 hover:scale-110
}